### introduction

import panda and numpy, since panda works with numpy, normally it imports together

In [3]:
import pandas as pd
import numpy as np

create a random array one dimensional array

In [8]:
array = np.random.rand(3)
array,type(array)

(array([0.52866743, 0.98214217, 0.57037069]), numpy.ndarray)

build the pd series with numpy array

In [9]:
series = pd.Series(array)

In [11]:
series, type(series)

(0    0.528667
 1    0.982142
 2    0.570371
 dtype: float64, pandas.core.series.Series)

In [12]:
series[0]

0.5286674291309472

build panda series with pre-defined index name

In [15]:
series1 = pd.Series(array, index=['first', 'second', 'third'])
series1, series1[0], series1['first']

(first     0.528667
 second    0.982142
 third     0.570371
 dtype: float64, 0.5286674291309472, 0.5286674291309472)

In [16]:
series1.index

Index(['first', 'second', 'third'], dtype='object')

build panda data frame from 2 dimensional array

In [20]:
array_2d = np.random.rand(3,2)
array_2d, array_2d[0,1]

(array([[0.26602202, 0.16550031],
        [0.63423049, 0.05273606],
        [0.10949095, 0.72442986]]), 0.16550030632925883)

In [21]:
df = pd.DataFrame(array_2d)
df

          0         1
0  0.266022  0.165500
1  0.634230  0.052736
2  0.109491  0.724430

In [22]:
df[0], df[0][1]

(0    0.266022
 1    0.634230
 2    0.109491
 Name: 0, dtype: float64, 0.634230491538009)

### Read CSV file

In [26]:
!dir *.csv

 Volume in drive C is Windows
 Volume Serial Number is DA92-E920

 Directory of c:\src\collection

01/30/2018  09:55 PM           482,311 artist_data.csv
01/30/2018  09:55 PM        24,353,266 artwork_data.csv
               2 File(s)     24,835,577 bytes
               0 Dir(s)  225,544,769,536 bytes free

get a sample of the csv files

In [34]:
artist = pd.read_csv('artist_data.csv', nrows=5)
artwork = pd.read_csv('artwork_data.csv', nrows=5)
artist, artwork

(      id                    name  gender      dates  yearOfBirth  yearOfDeath  \
 0  10093  Abakanowicz, Magdalena  Female  born 1930         1930          NaN
 1      0     Abbey, Edwin Austin    Male  1852–1911         1852       1911.0
 2   2756        Abbott, Berenice  Female  1898–1991         1898       1991.0
 3      1  Abbott, Lemuel Francis    Male  1760–1803         1760       1803.0
 4    622          Abrahams, Ivor    Male  born 1935         1935          NaN

                      placeOfBirth            placeOfDeath  \
 0                          Polska                     NaN
 1     Philadelphia, United States  London, United Kingdom
 2      Springfield, United States   Monson, United States
 3  Leicestershire, United Kingdom  London, United Kingdom
 4           Wigan, United Kingdom                     NaN

                                                  url
 0  http://www.tate.org.uk/art/artists/magdalena-a...
 1  http://www.tate.org.uk/art/artists/edwin-austi...
 2  http://www.tate.org.uk/art/artists/berenice-ab...
 3  http://www.tate.org.uk/art/artists/lemuel-fran...
 4  http://www.tate.org.uk/art/artists/ivor-abraha...  ,
      id accession_number          artist artistRole  artistId  \
 0  1035           A00001   Blake, Robert     artist        38
 1  1036           A00002   Blake, Robert     artist        38
 2  1037           A00003   Blake, Robert     artist        38
 3  1038           A00004   Blake, Robert     artist        38
 4  1039           A00005  Blake, William     artist        39

                                                title                dateText  \
 0  A Figure Bowing before a Seated Old Man with h...          date not known
 1  Two Drawings of Frightened Figures, Probably f...          date not known
 2  The Preaching of Warning. Verso: An Old Man En...                 ?c.1785
 3     Six Drawings of Figures with Outstretched Arms          date not known
 4  The Circle of the Lustful: Francesca da Rimini...  1826–7, reprinted 1892

                                               medium  \
 0  Watercolour, ink, chalk and graphite on paper....
 1                                  Graphite on paper
 2        Graphite on paper. Verso: graphite on paper
 3                                  Graphite on paper
 4                            Line engraving on paper

                                           creditLine    year  acquisitionYear  \
 0                Presented by Mrs John Richmond 1922     NaN             1922
 1                Presented by Mrs John Richmond 1922     NaN             1922
 2                Presented by Mrs John Richmond 1922  1785.0             1922
 3                Presented by Mrs John Richmond 1922     NaN             1922
 4  Purchased with the assistance of a special gra...  1826.0             1919

               dimensions  width  height  depth units  inscription  \
 0  support: 394 x 419 mm    394     419    NaN    mm          NaN
 1  support: 311 x 213 mm    311     213    NaN    mm          NaN
 2  support: 343 x 467 mm    343     467    NaN    mm          NaN
 3  support: 318 x 394 mm    318     394    NaN    mm          NaN
 4    image: 243 x 335 mm    243     335    NaN    mm          NaN

    thumbnailCopyright                                       thumbnailUrl  \
 0                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
 1                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
 2                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
 3                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...
 4                 NaN  http://www.tate.org.uk/art/images/work/A/A00/A...

                                                  url
 0  http://www.tate.org.uk/art/artworks/blake-a-fi...
 1  http://www.tate.org.uk/art/artworks/blake-two-...
 2  http://www.tate.org.uk/art/artworks/blake-the-...
 3  http://www.tate.org.uk/art/artworks/blake-six-...
 4  http://www.tate.org.uk/art/artworks/blake-the-...  )

In [37]:
artist.columns, artwork.columns

(Index(['id', 'name', 'gender', 'dates', 'yearOfBirth', 'yearOfDeath',
        'placeOfBirth', 'placeOfDeath', 'url'],
       dtype='object'),
 Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
        'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
        'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
        'thumbnailCopyright', 'thumbnailUrl', 'url'],
       dtype='object'))

define columns to use

In [39]:
ARTIST_COLS_TO_USE = ['id', 'name', 'gender', 'dates', 'yearOfBirth', 'yearOfDeath', 'placeOfBirth', 'placeOfDeath', 'url']
ARTWORK_COLS_TO_USE = ['id', 'artist', 'title', 'dateText', 'medium', \
                       'year', 'acquisitionYear', 'width', 'height', 'units' ]

In [42]:
artist = pd.read_csv('artist_data.csv', nrows=5, usecols=ARTIST_COLS_TO_USE)
artwork = pd.read_csv('artwork_data.csv', nrows=5, usecols=ARTWORK_COLS_TO_USE)

In [43]:
artwork

,id,artist,title,dateText,medium,year,acquisitionYear,width,height,units
0,1035,"Blake, Robert",A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",NaN,1922,394,419,mm
1,1036,"Blake, Robert","Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,NaN,1922,311,213,mm
2,1037,"Blake, Robert",The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,1785.0,1922,343,467,mm
3,1038,"Blake, Robert",Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,NaN,1922,318,394,mm
4,1039,"Blake, William",The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,1826.0,1919,243,335,mm

In [44]:
artist

,id,name,gender,dates,yearOfBirth,yearOfDeath,placeOfBirth,placeOfDeath,url
0,10093,"Abakanowicz, Magdalena",Female,born 1930,1930,NaN,Polska,NaN,http://www.tate.org.uk/art/artists/magdalena-a...
1,0,"Abbey, Edwin Austin",Male,1852–1911,1852,1911.0,"Philadelphia, United States","London, United Kingdom",http://www.tate.org.uk/art/artists/edwin-austi...
2,2756,"Abbott, Berenice",Female,1898–1991,1898,1991.0,"Springfield, United States","Monson, United States",http://www.tate.org.uk/art/artists/berenice-ab...
3,1,"Abbott, Lemuel Francis",Male,1760–1803,1760,1803.0,"Leicestershire, United Kingdom","London, United Kingdom",http://www.tate.org.uk/art/artists/lemuel-fran...
4,622,"Abrahams, Ivor",Male,born 1935,1935,NaN,"Wigan, United Kingdom",NaN,http://www.tate.org.uk/art/artists/ivor-abraha...